* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.logo {
    height: 40px;
    width: auto;
}
.navbar-right {
    justify-content: flex-end;
    font-weight: bold;
}
#accountSubMenu li {
    padding-left: 5%;
}
main{
    min-height: 75vh;
}
.modal {
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 50px;
}
#modal-content {
    background-color: #fff;
    padding: 50px;
    width: 80%;
    border-radius: 10px;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 0;
}
#signUpForm {
    display: none;
}
#closeIcon {
    position: absolute;
    top: 5%;
    right: 10%;
    background-color: red;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border-radius: .2rem;
    cursor:pointer;
    color: whitesmoke;
}
.error {
    color: red;
    display: none;
}
.row {
    margin: 5% auto;
}
.img__container {
    height: 45%;
}
.icon {
    font-size: 40px;
    color: black;
    animation-name: latido;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
#hero {
    min-height: 80vh;

}
#cotizaciones {
    padding-top: 10vh;
    min-height: 95vh;
}
#result, #calculadora {
    padding: 15vh 0;
}
#comprarDivisa{
    display: none;
}
.form_element {
    padding-top: 25px;
}
.crypto-card {
    width: 200px;
    min-height: 350px;
    border: none;
    padding: 25px;
    justify-content: space-between;
}
.card-img-top {
    max-width: 75%;
    height: auto;
    margin: auto;
}
.card-body {
    flex-grow: 0;
}
#crypto-catalogue {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#cotizadorWrapper {
    display: none;
}
#cotizadorCrypto {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#inputCrypto, #inputFiat {
    margin: 25px 0;
}

#badgeNombre {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 25px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    color: white;
    background-color: rgb(89, 168, 15);
}
#tablaHistorial {
    display: none;
}


@keyframes latido {
    0% {transform: scale(1);}
    50% {transform: scale(1.2);}
    100% {transform: scale(1);}
}

@media only screen and (min-width:992px) {
    #hero .img-fluid {
        max-width: 60%;
    }
    .navbar-right {
        margin-right: 100px;
    }
    #accountSubMenu {
        margin-top: 15px;
    }
}